footer.footer
  .footer-container
    .footer-logo
      img(src="/assets/images/LogoTamBeautieBlack.png", alt="Logo")
      span.brand CHUYÊN KHOA THẨM MỸ

    p.footer-text Hãy liên hệ ngay với chúng tôi để nhận được sự tư vấn miễn phí, tận tình từ chuyên gia và đồng thời khám phá những ưu đãi hấp dẫn dành riêng cho bạn!
    form.footer-form
      input(type="email" placeholder="Nhập số điện thoại của bạn ...")
      button(type="submit")
        i.fa.fa-paper-plane
        |  Liên hệ ngay

    .footer-social
      a(href="#"): <i class="fa-brands fa-facebook"></i>
      a(href="#"): <i class="fa-brands fa-instagram"></i>
      a(href="#"): img(src="/assets/images/logozalo.jpg", alt="Zalo", style="width:42px; height:42px; border-radius:10%")
      a(href="#"): <i class="fa-solid fa-phone"></i>