footer.footer
  .footer-container
    .footer-logo
      img(src="/assets/images/LogoTamBeautieBlack.png", alt="Logo")
      span.brand CHUYÊN KHOA
      span.beauty THẨM MỸ

    p.footer-text Contact us today and we'll help you get started. Most people start with an About page that introduces them to potential site visitors.

    form.footer-form
      input(type="email" placeholder="Enter your email ...")
      button(type="submit")
        i.fa.fa-paper-plane
        |  Join Now

    .footer-social
      a(href="#"): <i class="fa-brands fa-facebook"></i>
      a(href="#"): <i class="fa-brands fa-instagram"></i>
      a(href="#"): img(src="/assets/images/logozalo.jpg", alt="Zalo", style="width:42px; height:42px; border-radius:10%")
      a(href="#"): <i class="fa-solid fa-phone"></i>