header.header
  .container
    .menu-toggle
      i.fa-solid.fa-bars
    .logo
      img(src="/assets/images/LogoTamBeautie.png", alt="Logo")
    //-   span.brand TẤM 
    //-   span.beauty BEAUTIE
    nav.navbar#navbar
      button.close-btn &times;
      ul.nav-menu
        li: a.active(href="#") Home
        li: a(href="#") About
        li: a(href="#") Gallery
        li: a(href="#") FAQ
        li: a(href="#") Blog
        li: a(href="#") Shop
        li: a(href="#") Contact
    a.btn-book(href="https://zalo.me/0708664790" target="_blank") Book Now
    a.phone-book(href="https://zalo.me/0708664790" target="_blank")
      i.fa-regular.fa-calendar
  div.overlay#overlay