extends ../layouts/default.pug

block main
    div.pre-breadcrumb
    nav.breadcrumb
        ul
            li
                a(href="/") Home
            li.separator >
            li
                a(href="/about") About
