extends ../layouts/default.pug

block main
    .section1
        .overlay
        .content
            h2 Special color for you
            a.btn(href="#gallery") Book Now

    .section2
        .container
            div.section-title
                h2.background-text GIỚI THIỆU
                span.small-title Tấm Beautie
            p.desc Tấm Beautie - Khởi nguồn vẻ đẹp chuẩn mực. Với sứ mệnh tôn vinh nét đẹp tự nhiên, chúng tôi cung cấp các dịch vụ thẩm mỹ toàn diện: tiêm filler, botox, giảm mỡ, mũi chỉ và căng chỉ. Tại Tấm Beautie, mọi quy trình đều được thực hiện theo tiêu chuẩn y khoa, kết hợp công nghệ tiên tiến và đội ngũ chuyên gia tận tâm, mang đến cho khách hàng trải nghiệm an toàn, tinh tế và hiệu quả tối ưu

            a.btn(href="#") Về chúng tôi

    .section3
        .container
            .right
                .gallery-grid
                    img(src="/assets/images/section3-img1.jpg", alt="gallery1")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery2")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery3")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery4")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery5")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery6")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery7")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery8")
            .left
                .section-title
                    span.background-text Bộ Sưu Tập
                    h3.small-title Khách Hàng Của Tấm Beautie
                p.desc
                    | Những mẫu thiết kế và dịch vụ mà Spa đã thực hiện, 
                    | mang lại sự hài lòng tuyệt đối cho khách hàng
                a.btn(href="/gallery") Xem thêm ảnh

    section.section4
        .container
            div.section-title
                h2.background-text DỊCH VỤ
                span.small-title Tấm Beautie
            .services
                .service-card
                    img(src="/assets/images/section4-img1.jpg", alt="Haircut")
                    h3 Tiêm Filler/Botox
                    p Chỉ từ 999k
                .service-card
                    img(src="/assets/images/section4-img2.jpg", alt="Skin Care")
                    h3 Giảm Mỡ
                    p Chỉ từ 1499k
                .service-card
                    img(src="/assets/images/section4-img3.webp", alt="Makeup")
                    h3 Mũi Chỉ
                    p Chỉ từ 4999k
    
    section.section5
        .container
            .inner
                .left 
                    .beauty-image
                        img(src="/assets/images/section5-img1.jpg", alt="Beauty Center")
                .right
                    div.section-title
                        h2.background-text LIÊN HỆ
                        span.small-title Tư Vấn
                    p.desc Tấm Beautie là một trung tâm thẩm mỹ chuyên cung cấp các dịch vụ chăm sóc và cải thiện sắc đẹp cho cả nam và nữ. Các dịch vụ phổ biến bao gồm tiêm filler, botox, giảm mỡ, nâng mũi chỉ và căng chỉ. Ngoài ra, chúng tôi còn mang đến nhiều giải pháp làm đẹp khác nhằm tôn vinh nét đẹp tự nhiên và mang lại sự tự tin cho khách hàng
                    .social-links
                        a.social-link.facebook(href="#")
                            i.fab.fa-facebook-f
                            span FACEBOOK
                        a.social-link.twitter(href="#")
                            i.fab.fa-twitter
                            span TWITTER  
                        a.social-link.instagram(href="#")
                            i.fab.fa-instagram
                            span INSTAGRAM
                        a.social-link.skype(href="#")
                            i.fab.fa-skype
                            span SKYPE

    section.section5
        .container
            .inner
                .right6
                    div.section-title
                        h2.background-text.text6 Khuyến mãi
                        span.small-title Đặc Biệt
                    p.desc 
                        | Chào mừng 
                        span.highlight Quốc Khánh 2/9
                        | , Tấm Beautie ưu đãi đặc biệt tháng 9: giảm đến 
                        span.highlight 30% 
                        | cho các dịch vụ làm đẹp, cơ hội tỏa sáng rực rỡ với diện mạo mới!

                    .countdown-container
                        .countdown-item
                            .countdown-number 01
                            .countdown-label Day
                        .countdown-item
                            .countdown-number 15
                            .countdown-label Hours
                        .countdown-item
                            .countdown-number 54
                            .countdown-label Minutes
                        .countdown-item
                            .countdown-number 31
                            .countdown-label Seconds
                .left 
                    .beauty-image
                        img(src="/assets/images/section5-img2.jpg", alt="Beauty Center")

    section.section6
        .container
            div.section-title
                h2.background-text VẺ ĐẸP
                span.small-title Tấm Beautie
            .gallery-section
                .gallery-container
                    .gallery-left
                        .gallery-item.small
                            img(src="/assets/images/section6-img1.jpg", alt="Beauty Portrait 1")
                            .overlay
                                .overlay-icon
                                    i.fas.fa-search-plus
                        .gallery-item.small
                            img(src="/assets/images/section6-img2.jpg", alt="Beauty Portrait 2") 
                            .overlay
                                .overlay-icon
                                    i.fas.fa-search-plus
                    
                    .gallery-center
                        .gallery-item.large
                            img(src="/assets/images/section6-img3.jpg", alt="Beauty Portrait Main")
                            .overlay
                                .overlay-icon
                                    i.fas.fa-search-plus
                    
                    .gallery-right
                        .gallery-item.small
                            img(src="/assets/images/section6-img4.jpg", alt="Beauty Portrait 3")
                            .overlay
                                .overlay-icon
                                    i.fas.fa-search-plus
                        .gallery-item.small
                            img(src="/assets/images/section6-img5.jpg", alt="Beauty Portrait 4")
                            .overlay
                                .overlay-icon
                                    i.fas.fa-search-plus
            a.btn(href="#gallery")
                i.fa-regular.fa-calendar
                span Đặt lịch ngay