extends ../layouts/default.pug

block main
    .section1
        .overlay
        .content
            h2 Special color for you
            a.btn(href="#gallery") Book Now

    .section2
        .container
            div.section-title
                h2.background-text GIỚI THIỆU
                span.small-title Tiểu sử
            p.desc A beauty salon or beauty parlor, or sometimes beauty shop, is an establishment dealing with cosmetic treatments for men and women. Other variations of this type of business include hair salons and spas.
            a.btn(href="#") Về chúng tôi

