extends ../layouts/default.pug

block main
    .section1
        .overlay
        .content
            h2 Special color for you
            a.btn(href="#gallery") Book Now

    .section2
        .container
            div.section-title
                h2.background-text GIỚI THIỆU
                span.small-title Tấm Beautie
            p.desc Tấm Beautie - Khởi nguồn vẻ đẹp chuẩn mực. Với sứ mệnh tôn vinh nét đẹp tự nhiên, chúng tôi cung cấp các dịch vụ thẩm mỹ toàn diện: tiêm filler, botox, giảm mỡ, mũi chỉ và căng chỉ. Tại Tấm Beautie, mọi quy trình đều được thực hiện theo tiêu chuẩn y khoa, kết hợp công nghệ tiên tiến và đội ngũ chuyên gia tận tâm, mang đến cho khách hàng trải nghiệm an toàn, tinh tế và hiệu quả tối ưu.

            a.btn(href="#") Về chúng tôi

    .section3
        .container
            .right
                .gallery-grid
                    img(src="/assets/images/section3-img1.jpg", alt="gallery1")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery2")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery3")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery4")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery5")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery6")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery7")
                    img(src="/assets/images/section3-img1.jpg", alt="gallery8")
            .left
                .section-title
                    span.background-text Bộ Sưu Tập
                    h3.small-title Khách Hàng Của Tấm Beautie
                p.desc
                    | Những mẫu thiết kế và dịch vụ mà Spa đã thực hiện, 
                    | mang lại sự hài lòng tuyệt đối cho khách hàng.
                a.btn(href="/gallery") Xem thêm ảnh